.container {
  min-height: 20vh;
  width: 100%;
}

.navbar {
  width: 15%;
  position: fixed;
}
.app {
  display: flex;
  width: 100%;
  position: absolute;
}

.main {
  width: 85%;
  position: absolute;
  right: 0;
}

.container .topic {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.container .topic p {
  margin: 10px;
}

.topic h1 {
    color: #3488d1;
}

.new_courses {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #fff;
  margin: 70px 0;
}

.new_courses .course {
  width: 45%;
  height: 230px;
  display: flex;
  position: relative;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: white;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.course span {
    width: 60px;
    font-size: 14px;
    padding: 7px;
    position: absolute;
    left: -20px;
    top: -15px;
    text-align: center;
    color: black;
    border-radius: 25px;
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    background-color: #f9ec8a;
    font-weight: 700;
}

.course_left {
  width: 30%;
  color: white;
  background-color: #ffae00;
  height: 100%;
  border-radius: 10px 0 0 10px;
  padding-left: 15px;
}

.course_right {
  padding-left: 20px;
}

.text {
  color: rgb(223, 223, 223);
  margin: 30px 0 10px 0;
  font-size: 16px;
}

.course_left h1 {
  margin: 0;
}

.course_right a {
  width: 100px;
  height: 30px;
  padding: 10px 0;
  background-color: #ffae00;
  color: white;
  text-decoration: none;
}