body {
  margin: 0px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.app {
  display: flex;
  width: 100%;
  position: absolute;
}

.navbar {
  width: 15%;
  position: fixed;
}

.main {
  width: 85%;
  position: absolute;
  right: 0;
}

.routes {
  padding: 20px;
}